<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148548498600-ev17d1ogajklus799dsi99b66l8r134b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148548498600-ev17d1ogajklus799dsi99b66l8r134b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>148548498600-esv77rsp9g3jicslutbg5l9qvgpvj6im.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBRMKv8KDrbxybPAvCP2kCMyuMtWzRbpRg</string>
	<key>GCM_SENDER_ID</key>
	<string>148548498600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.stride.app</string>
	<key>PROJECT_ID</key>
	<string>stride-bb265</string>
	<key>STORAGE_BUCKET</key>
	<string>stride-bb265.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148548498600:ios:4f63ffe0a43d21203c7e9d</string>
	<key>DATABASE_URL</key>
	<string>https://stride-bb265.firebaseio.com</string>
</dict>
</plist>